Phone   = {
	Landscape:"only screen and (orientation: landscape) and (max-width:  767.99px)",
	Portrait: "only screen and (orientation: portrait ) and (max-height: 767.99px)",
}
Tablet  = {
	Landscape:"only screen and (orientation: landscape) and (min-width:  768px)",
	Portrait: "only screen and (orientation: portrait ) and (min-height: 768px)",
}
Laptop  = {
	Landscape:"only screen and (orientation: landscape) and (min-width:  992px)",
	Portrait: "only screen and (orientation: portrait ) and (min-height: 992px)",
}
Desktop = {
	Landscape:"only screen and (orientation: landscape) and (min-width:  1200px)",
	Portrait: "only screen and (orientation: portrait ) and (min-height: 1200px)",
}
