#Piano

	.key.white.c       (data-note="C2"  )
	.key.black.c_sharp (data-note="C#2" )
	.key.white.d       (data-note="D2"  )
	.key.black.d_sharp (data-note="D#2" )
	.key.white.e       (data-note="E2"  )
	.key.white.f       (data-note="F2"  )
	.key.black.f_sharp (data-note="F#2" )
	.key.white.g       (data-note="G2"  )
	.key.black.g_sharp (data-note="G#2" )
	.key.white.a       (data-note="A2"  )
	.key.black.a_sharp (data-note="A#2" )
	.key.white.b       (data-note="B2"  )

	.key.white.c       (data-note="C3"  )
	.key.black.c_sharp (data-note="C#3" )
	.key.white.d       (data-note="D3"  )
	.key.black.d_sharp (data-note="D#3" )
	.key.white.e       (data-note="E3"  )
	.key.white.f       (data-note="F3"  )
	.key.black.f_sharp (data-note="F#3" )
	.key.white.g       (data-note="G3"  )
	.key.black.g_sharp (data-note="G#3" )
	.key.white.a       (data-note="A3"  )
	.key.black.a_sharp (data-note="A#3" )
	.key.white.b       (data-note="B3"  )

	.key.white.c       (data-note="C4"  )
	.key.black.c_sharp (data-note="C#4" )
	.key.white.d       (data-note="D4"  )
	.key.black.d_sharp (data-note="D#4" )
	.key.white.e       (data-note="E4"  )
	.key.white.f       (data-note="F4"  )
	.key.black.f_sharp (data-note="F#4" )
	.key.white.g       (data-note="G4"  )
	.key.black.g_sharp (data-note="G#4" )
	.key.white.a       (data-note="A4"  )
	.key.black.a_sharp (data-note="A#4" )
	.key.white.b       (data-note="B4"  )

	.key.white.c       (data-note="C5"  )
	.key.black.c_sharp (data-note="C#5" )
	.key.white.d       (data-note="D5"  )
	.key.black.d_sharp (data-note="D#5" )
	.key.white.e       (data-note="E5"  )
	.key.white.f       (data-note="F5"  )
	.key.black.f_sharp (data-note="F#5" )
	.key.white.g       (data-note="G5"  )
	.key.black.g_sharp (data-note="G#5" )
	.key.white.a       (data-note="A5"  )
	.key.black.a_sharp (data-note="A#5" )
	.key.white.b       (data-note="B5"  )

	.key.white.c       (data-note="C6"  )
	.key.black.c_sharp (data-note="C#6" )
	.key.white.d       (data-note="D6"  )
	.key.black.d_sharp (data-note="D#6" )
	.key.white.e       (data-note="E6"  )
	.key.white.f       (data-note="F6"  )
	.key.black.f_sharp (data-note="F#6" )
	.key.white.g       (data-note="G6"  )
	.key.black.g_sharp (data-note="G#6" )
	.key.white.a       (data-note="A6"  )
	.key.black.a_sharp (data-note="A#6" )
	.key.white.b       (data-note="B6"  )
